/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.quote {
    padding-top: 30px;
    /*font-weight: bold;*/
    font-size: 1.5em;
}

.buy {
    color: blue;
}

.sell {
    color: tomato;
}
