{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input name="symbol" autocomplete="off" autofocus class="form-control mx-auto w-auto" type="text" placeholder="Stock Symbol">
        </div>
        <div class="mb-3">
            <input name="shares" class="form-control mx-auto w-auto" type="text" placeholder="No. Shares">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Buy</button>
        </div>
        </div>
    </form>
{% endblock %}
