table {
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td {
    border: 2px solid black;
}

.center
{
    text-align: center;
}

.team
{
    background-color: green;
}

#score1, #add1
{
    color: blue;
}

#score2, #add2, #result
{
    color: red
}
